<!--
Copyright 2020 Matt Montgomery
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" integrity="sha384-+jvb+jCJ37FkNjPyYLI3KJzQeD8pPFXUra3B/QJFqQ3txYrUPIP1eOfxK4h3cKZP" crossorigin="anonymous"></script>
		<script src="components/rainbowState.js"></script>
	</head>

	<body>
		<style>
			b.poolInfoHeader {
				display: inline-block;
				padding-right: 5px;
				text-align: right;
				width: 45px;
			}

			p.poolInfo {
				margin: 3px;
			}

			th {
				text-align: left;
			}

			th.name {
				min-width: 300px;
			}

			table {
				margin-top: 1em;
				margin-bottom: 1em;
			}
		</style>

		<div id="app">
			<p v-if="loading">Loading...</p>
			<p v-if="error">There was an error getting pool information, check the console for information</p>
			<ul v-for="pool in pools">
				<p class="poolInfo"><b class="poolInfoHeader">name:</b> {{ pool.Name }} </p>
				<p class="poolInfo"><b class="poolInfoHeader">state:</b><rainbow-state :state="pool.State"></rainbow-state></p>
				<p class="poolInfo"><b class="poolInfoHeader">status:</b> {{ pool.Status | stripNewlines }} </p>
				<p class="poolInfo"><b class="poolInfoHeader">action:</b> {{ pool.Action | stripNewlines }} </p>

				<p class="poolInfo" v-if='pool.See !== ""'><b class="poolInfoHeader">see:</b> <a :href='pool.See' target='_blank'>{{ pool.See }}</a></p>
				<p class="poolInfo"><b class="poolInfoHeader">scan:</b> {{ pool.Scan | periodNewlines }} </p>

				<table>
					<thead>
						<th class="name">Name</th>
						<th>State</th>
						<th>Read</th>
						<th>Write</th>
						<th>Checksum</th>
						<th></th>
					</thead>
					<tbody>
						<tr v-for="dev in pool.Containers">
							<td :style='{ "padding-left": dev.Level * 10 }'> {{ dev.Name }} </td>
							<td> <rainbow-state :state="dev.State"></rainbow-state> </td>
							<td> {{ dev.Read }} </td>
							<td> {{ dev.Write }} </td>
							<td> {{ dev.Cksum }} </td>
							<td> {{ dev.Status }} </td>
						</tr>
					</tbody>
				</table>

				<p class="poolInfo"><b class="poolInfoHeader">errors:</b> {{ pool.Errors | convertNewlines }} </p>
			</ul>
		</div>

		<script>
			new Vue({
			  el: '#app',
			  data () {
				return {
				  pools: null,
				  loading: true,
				  error: false
				}
			  },
			  filters: {
			  	periodNewlines(raw) {
					return raw.replace(/\n/g, ". ")
				},
			  	stripNewlines(raw) {
					return raw.replace(/\n/g, " ")
				},
			  	convertNewlines(raw) {
					// TODO: implement
					return raw.replace(/\n/g, "<br>")
				}
			  },
			  mounted () {
				fetch('/api/v1/pools')
				.then(res => res.json())
				.then(res => (this.pools = res))
				.catch(e => {
					console.error(e);
					this.error = true;
				})
				.finally(() => {
					this.loading = false;
				})
			  }
			})
		</script>
	</body>
</html>
